<form [formGroup]="myForm">
    <div class="setting-cell tooltips-block" data-tooltips="Hi" data-tooltips-position="top">
        <label for="slider">Размер кисти</label>
        <mat-slider id="slider" min="1" max="100" step="0.1" value="1" thumbLabel tickInterval="1000" formControlName="size" (ngModelChange)="onSizeChange()"></mat-slider>
    </div>
    <div class="setting-cell">
        <label for="slider">Цвет</label>
        <mat-form-field>
            <input [style.color]="myForm.controls['color'].value?.toRgbString()" matInput [ngxMatColorPicker]="picker" formControlName="color" (ngModelChange)="onColorChange()">
            <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #picker [color]="myForm.controls['color'].value?.hex"></ngx-mat-color-picker>
        </mat-form-field>
    </div>
</form>